@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor00: #ffffff;
    --cor01: #170a1c;
    --cor02: #281231;
    --cor03: #3b1441;
    --cor04: #00ff8c;
    --cor05: #0e02135e;
    --cor06: #37af8f;
}

body{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor02);
    height: 100vh;
    width: 100vw;
}

.left-side{
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50vh;
}

.left-side img{
    max-width: 90%;
}

.right-side{
    position: absolute;
    top: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%; 
    height: 50vh;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor03);
    width: 90vw;
    height: 90vw;
    padding: 0px 30px 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--cor05);
}

.card h1{
    font-size: clamp(2em, 12vw, 3em);
    color: var(--cor04);
}

.card > input{
    width: 100%;
    height: 10vw;
    padding: 5px 0px;
    border: none;
    color: var(--cor01);
    background-color: var(--cor04);
    box-shadow: 0px 0px 5px var(--cor06);
}

.user-aling{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 10px 0px 30px 0px;
}

.user-aling label{
    font-size: clamp(1em, 4vw, 3em);
    margin: 5px 0px 10px 0px;
    color: var(--cor00);
}

.user-aling input{
    width: 100%;
    height: 10vw;
    border-radius: 7px;
    outline: none;
    border: none;
    text-indent: 5px;
}

.user-aling input::placeholder{
    font-size: clamp(1em, 3.5vw,3em);
}